*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; 
    height: 100vh; 
    background : pink;
}
.container{
background : linear-gradient(135deg, #800000, #6d1acb); 
max-width: 400px;
padding: 20px;
border-radius: 15px;
box-shadow: 0 8px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.1);
text-align: center;
}
h2, label, p{
  color: white;
  margin: 8px 0;
}
 #weather-icon{
  width: 200px;
  height: 200px;
  margin: 0 auto 10px;
  margin-bottom: 0;
  display: none;
 }
 input{
  width: calc(100% - 16px);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid White;
  margin-top: 20px;
 }
 button{
  background: rgb(121, 50, 220);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 100px;
  font-size: 15px;
 }
 button:hover{
  background: rgb(13, 1, 24);
 }
 #temp-div p{
  font-size: 60px;
  margin-top: -30px;
 }
 #weather-info{
  font-size: 20px;
 }
 #weather-icon{
  width: 200px;
  height: 200px;
  margin: 0 auto 10px;
  margin-bottom: 0;
  display: none;
 }
 #hourly-forecast{
  margin-top: 50px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
 }
 .hourly-item{
  flex: 0 0 auto;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  color: white;
 }
 .hourly-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
 }
 #hourly-heading{
  color: white;
  margin-top: 10px;
 }
 
